.avatar {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  background-color: #6c757d;
  color: white;
  font-weight: bold;
  margin-right: 8px;
}
