<h2>Transactions envoyées</h2>

@if (sendTransactions().length === 0) {
  <p>Aucune transaction envoyée.</p>
}

@for (tx of sendTransactions(); track tx.date) {
  <div class="transaction-card">

    <p>
      <strong>Montant :</strong>
      {{ tx.amount }} €
    </p>

    <p>
      <strong>Bénéficiaire :</strong>
      {{ tx.receiver }}
    </p>

    <p>
      <strong>Date :</strong>
      {{ tx.date | date:'dd/MM/yyyy à HH:mm' }}
    </p>

    <p>
      <strong>Statut :</strong>
      <span
      
        [class.success]="tx.status === 'success'"
        [class.pending]="tx.status === 'pending'"
        [class.failed]="tx.status === 'failed'"
      >
        {{ tx.status }}
      </span>
    </p>


  </div>
}
